
<!-- disqus -> gitalk -> Leancloud -> mongodb -->
<script src='//unpkg.com/@waline/client@v2/dist/waline.js'></script>
<link rel="stylesheet" href="https://unpkg.com/@waline/client@v2/dist/waline.css">

<div id="disqus_thread"></div>

<style>
body.dark {
  /* 常规颜色 */
  --waline-white: #000;
  --waline-light-grey: #666;
  --waline-dark-grey: #999;

  /* 布局颜色 */
  --waline-color: #888;
  --waline-bgcolor: #1e1e1e;
  --waline-bgcolor-light: #272727;
  --waline-border-color: #333;
  --waline-disable-bgcolor: #444;
  --waline-disable-color: #272727;

  /* 特殊颜色 */
  --waline-bq-color: #272727;

  /* 其他颜色 */
  --waline-info-bgcolor: #272727;
  --waline-info-color: #666;
}
</style>




<script>
const locale = {
	placeholder: '请使用能收到邮件的邮箱，这样在有人回复你时，你将会收到邮箱消息提醒~',
}
     Waline.init({
      el: '#disqus_thread',
      serverURL: 'https://waline.firehomework.xyz',
	  comment: true,
	  pageview: true,
	  darl:'body[class="dark"]',
	    emoji: [
    '//unpkg.com/@waline/emojis@1.0.1/weibo',
    '//unpkg.com/@waline/emojis@1.0.1/bilibili',
	'//unpkg.com/@waline/emojis@1.0.1/tw-emoji'
  ],
locale
    });
</script>
<noscript
  >Please enable JavaScript to view the
  <a href="https://disqus.com/?ref_noscript"
    >comments powered by Waline.</a
  ></noscript
>
