<!DOCTYPE html>
<html>
{% if page.content contains "code" %}
<script>
<!-- clipboard.js code -->
// get all <code> elements
var allCodeBlocksElements = $( "code" );
 
allCodeBlocksElements.each(function(i) {
 	// add different id for each code block
 
	// target	
  var currentId = "codeblock" + (i + 1);
  $(this).attr('id',currentId);
     
  //trigger
  var clipButton = '<button class="btn" data-clipboard-target="#' + currentId + '"><img src="https://clipboardjs.com/assets/images/clippy.svg" width="13" alt="Copy to clipboard"></button>';
     $(this).after(clipButton);
  });
 
  new Clipboard('.btn');
</script>
{% endif %}

  {% include head.html %}
  <body class="page">
    {% include background.html %}
    {% include collection_list.html %}
    <div class="container" id="ctner">
       {% include header.html %}
      <div class="div_article" id="div_atcl">
        <article
          id="main_atcl"
          itemscope
          itemtype="http://schema.org/BlogPosting"
        >
          {{content}} {% include post_list.html %} {% include comment.html %}
        </article>
        {% if page.footer != false %} {% include footer.html %} {% endif %}
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
  <script async src="{{site.url}}{{site.baseurl}}/src/assets/js/init-mermaid.js"></script>
</html>
